# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/
env/
ENV/

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db
desktop.ini

# ==========================================
# Python Build
# ==========================================

build/
dist/
*.spec

# ==========================================
# PyInstaller
# ==========================================

*.manifest
*.exe

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Environment Variables
# ==========================================

.env
.env.*
!.env.example

# ==========================================
# Cache
# ==========================================

.pytest_cache/
.mypy_cache/
.cache/

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# Coverage
# ==========================================

.coverage
coverage.xml
htmlcov/

# ==========================================
# Temporary Files
# ==========================================

*.tmp
*.temp

# ==========================================
# OpenCV Output Images
# ==========================================

Images/output/
output/
results/

## ==========================================
# YOLO
# ==========================================

# Ignore YOLO training runs
runs/
AI_training/Runs/

# Ignore generic datasets
datasets/

# Ignore the actual drone dataset
AI_training/Dataset/drone_dataset/train/
AI_training/Dataset/drone_dataset/valid/

# Ignore dataset images and labels
AI_training/Dataset/**/*.jpg
AI_training/Dataset/**/*.jpeg
AI_training/Dataset/**/*.png
AI_training/Dataset/**/*.txt

# Ignore all YOLO/model weights by default
*.pt

# ==========================================
# Custom YOLO Model
# ==========================================

# Allow ONLY the custom trained drone model
!AI_training/Models/drone_best.pt

# ==========================================
# Qt
# ==========================================

*.pro.user
*.qrc.depends

# ==========================================
# Runtime Files
# ==========================================

*.db
*.sqlite
*.sqlite3

# ==========================================
# Misc
# ==========================================

*.bak
*.swp
# ==========================================
# Large Media / Test Videos
# ==========================================

*.mp4
*.avi
*.mov
*.mkv